* {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      font-family: 'Inter', sans-serif;
    }

    body {
      background: #0d0d0d;
      color: #fff;
    }

    header {
      background: linear-gradient(90deg, #c40000, #7a0000);
      padding: 20px 40px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .logo {
      font-size: 26px;
      font-weight: 700;
      letter-spacing: 2px;
    }

    .nav a {
      color: #fff;
      text-decoration: none;
      margin-left: 20px;
      font-weight: 600;
      transition: 0.3s;
    }

    .nav a:hover {
      opacity: 0.7;
    }

    .container {
      max-width: 1200px;
      margin: 40px auto;
      padding: 0 20px;
    }

    .event-header {
      background: #1a1a1a;
      padding: 20px;
      border-radius: 12px;
      margin-bottom: 30px;
    }

    .event-header h1 {
      font-size: 28px;
      margin-bottom: 10px;
    }

    .fights {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
      gap: 20px;
    }

    .fight-card {
      background: #111;
      border-radius: 16px;
      padding: 20px;
      box-shadow: 0 10px 25px rgba(0,0,0,0.5);
      transition: 0.3s;
    }

    .fight-card:hover {
      transform: scale(1.02);
    }

    .fighters {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .fighter {
      text-align: center;
    }

    .vs {
      font-size: 22px;
      font-weight: bold;
      color: #c40000;
    }

    .weight {
      text-align: center;
      margin-top: 15px;
      font-size: 14px;
      color: #aaa;
    }

    footer {
      text-align: center;
      position:absolute;
      color: #666;
      left:575px;
      top:675px;
    }
    #tomi{
        width: 55px;
        height:55px;
        border-radius:50%;
    }
     #ali{
        width: 65px;
        height:55px;
        border-radius:50%;
    }
   .container2 {
    position:absolute;
    width:1150px;
    height:130px;
    left:190px;

    
    }
    .fights2 {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
      gap: 20px;
    }

    .fight-card2 {
      background: #111;
      border-radius: 16px;
      padding: 20px;
      box-shadow: 0 10px 25px rgba(0,0,0,0.5);
      transition: 0.3s;
    }

    .fight-card:hover2 {
      transform: scale(1.02);
    }

    .fighters2 {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .fighter2 {
      text-align: center;
    }

    .vs2 {
      font-size: 22px;
      font-weight: bold;
      color: #c40000;
    }

    .weight2 {
      text-align: center;
      margin-top: 15px;
      font-size: 14px;
      color: #aaa;
    }
#era{
    width:55px;
    height:55px;
    border-radius:50%;
}
#beka{
    width:55px;
    height:55px;
    border-radius:50%;
}